.list-item {
  background: #f2f2f2;
  border-radius: 5px;
  margin: 10px 0;
  padding: 5px;
}

.list-item > div {
  border-left: 2px solid #999;
  display: inline-block;
  float: right;
  font-size: 20px;
  text-align: center;
  width: 50px;
}

.list-item .product-status {
  border-radius: 2px;
  color: #fff;
  display: block;
  text-align: center;
  width: 100px;
}

.list-item .product-anchor {
  color: #999;
}

.add-button {
  color: #396;
  cursor: pointer;
}

.delete-button {
  color: #f66;
  cursor: pointer;
}

.clone-button {
  color: #09c;
  cursor: pointer;
}

.product-quantity {
  float:right;
}
